<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stockx Website</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- NavBar Section  -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="./index.html" id="navbar__logo"
          ><i class="far fa-gem"></i>StockX CrawleR</a
        >
        <div class="navbar__toggle" id="moblie-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__btn">
            <a href="http://127.0.0.1:5500/templates/index.html" class="button">Go Back</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="services">
        <h1>
            Please wait a few minutes, your sneaker is being collected and analyzed.
      </div>
      </body>
      </html>
      
      <script src="static/app.js"></script>
    </body>
  </html>
  
