<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stockx Website</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- NavBar Section  -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="./index.html" id="navbar__logo"
          ><i class="far fa-gem"></i>StockX CrawleR</a
        >
        <div class="navbar__toggle" id="moblie-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="./index.html" class="navbar__links">Home</a>
          </li>
          <li class="navbar__item">
            <a href="./data.html" class="navbar__links">Data</a>
          </li>
          <li class="navbar__item">
            <a href="./tech.html" class="navbar__links">Tech</a>
          </li>
          <li class="navbar__btn">
            <a href="http://127.0.0.1:5001/" class="button">Prediction</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Hero Section -->
    <div class="main">
      <div class="main__container">
        <div class="main__content">
          <h1>REGRESSOR</h1>
          <h2>HIGHLIGHTS</h2>
          <p>Visual Representation Of Our Models Pattern Detection Capabilities </p>
        </div>
        <div class="main__img--container">
          <img src="/StockX-Website/images/pic3.svg" alt="pic" id="main__img" />
        </div>
      </div>
    </div>

    <!-- pics Section -->
    <div class="pics">
      <h1>"A correlation is never enough to argue that one thing is causing another" ― Matt Parker</h1>
      <div class="pics__container">
        <div class="pics__card">
          <h2>All of the correlations</h2>
        </div>
        <div class="pics__card">
          <h2>Highly correlated columns</h2>
        </div>
      </div>
    </div>
    
    <script src="/static/app.js"></script>
  </body>
</html>
